#
# AgentHandler properties
#

# Port the agency will listen to
port=10125

# Set to true to enable copying compiled agents from the compiledAgentsPath to the displayedAgentsPath, false to disable
copyClassFiles=true

# Path to the generated .class files of the agents by the IDE or compiler
compiledAgentsPath=out/production/23E18/raf/agents

# Path to the agents to be displayed inside the application
displayedAgentsPath=agents/displayed

# In miliseconds, when no agents of a specific class remain, how long does that class' bytecode stay in cache, before it's removed
byteCodeDelay=100000

# The domain server address AgentHandler will connect to
raDomainServerIp=192.168.1.132
raDomainServerPort=10102

